* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 100%;
    display: grid;
    height: 300vh;
}

.container {
    height: 100vh;
    width: 100;
    background-color: whitesmoke;
    font-size: 100%;
    display: grid;
    /* grid-template-columns: 2% 96% 2%; */
    grid-template-rows: 10% 78% 15%;
}

header {
    position: fixed;
    height: 6.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    font-size: .7em;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1 / 5;
    justify-content: flex-start;
    opacity: .5;
}

header img {

}
header h1 {
    align-self: center;
    margin-left: 5%; 
}

.menu {
    width: 10%;
    color: white;
    height: 1em;
}

.icon {
    width: 5%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
    color: black;
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    text-align: center;
}

main h2 {
    font-size: 2em;
}

main p{
    width: 60%;
    align-self: center;
    font-size: 1.3em;
    line-height: 1.5em;
}

.botonera {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.boton {
    width: 25%;
    padding: 30px;
    height: auto;
    border-radius: 10px;
    transition: all 1s; 
    font-weight: 900;
    border: none;
}

.boton:hover {
    background-color: gray;
    color: white;
    transition: background-color 1s;
}

footer {
    grid-row-start: 3;   
    width: 100%;
    grid-column: 1 / 5;
    background: linear-gradient(45deg, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
}